.opacity-bg-img {
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}

.sidebar-container {
    background-color: var(--color-bg-primary-transparent);
    padding: 2rem;
    border-radius: 0.625rem;
}

.logo-admin {
    width: 100%;
    height: auto;
}

.adminPanel-container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.sidebar-container {
    padding: 1rem;
}

// CSS LISTA DE USUARIOS

.cards-container{
    display: flex;
    flex-direction: column;
    background-color: white;

}

.user-card{
    display: flex;
    background-color: #bbcc99;
    border-radius: 0.625rem;
}
 // NO ME COGE LA VARIABLE

.h2 {
  font-family: --font-title;  
}

.photo-user{
    display: flex;
    width: 10%;
    height: auto;
}

.name-user{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mail-user {
    display: flex;
      flex-direction: column;
     gap: 15px;
}

.user-data {
    display: flex;
    flex-direction: column;
     gap: 15px;
}