body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 0.625rem;
    width: 18.75rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    
    & input {
        margin-bottom: 1rem;
        padding: 0.5rem;
    }
}