.btn-yes,
.btn-not {
    background-color: #426500;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 0.3125rem;
    padding: 0.7rem;
    font-size: 1.2rem;
    width: 50px;
}

.btn-not {
    background-color: darkgrey;
    margin-left: 20px;
}