form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  width: 800px;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, auto);
  column-gap: 2rem;
  row-gap: 0.5rem;
}

form h2 {
  color: white ;
}

form h2 {
  text-align: center;
  margin-bottom: 2rem;
  grid-column: span 2;
}

form > label:nth-child(1),
form > input:nth-child(2),
form > label:nth-child(3),
form > input:nth-child(4),
form > label:nth-child(5),
form > input:nth-child(6) {
  grid-column: 1;
}

form > label:nth-child(7),
form > input:nth-child(8),
form > label:nth-child(9),
form > input:nth-child(10),
form > label:nth-child(11),
form > input:nth-child(12) {
  grid-column: 2;
}

form > label:nth-child(1) {
  grid-row: 1;
}
form > input:nth-child(2) {
  grid-row: 2;
}
form > label:nth-child(3) {
  grid-row: 3;
}
form > input:nth-child(4) {
  grid-row: 4;
}
form > label:nth-child(5) {
  grid-row: 5;
}
form > input:nth-child(6) {
  grid-row: 6;
}

form > label:nth-child(7) {
  grid-row: 1;
}
form > input:nth-child(8) {
  grid-row: 2;
}
form > label:nth-child(9) {
  grid-row: 3;
}
form > input:nth-child(10) {
  grid-row: 4;
}
form > label:nth-child(11) {
  grid-row: 5;
}
form > input:nth-child(12) {
  grid-row: 6;
}

form > label {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

form > input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

form button {
  grid-column: span 2;
  width: 100%;
  padding: 0.9rem;
  margin-top: 1rem;
  background-color: #426500;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
