
:root {
    --font-title: "Montserrat", sans-serif;
    --font-text: "Cabin", sans-serif;

    --color-bg-primary: #426500;
    --color-bar-bg: #7fae7f;
    --color-bg-primary-transparent: rgba(66, 101, 0, 0.8);
    --color-line:  2px solid #1B4D2B;
    --color-bg-divs:  rgba(255, 255, 255, 0.779);
    --color-font-title: #EEEEEE;
}